<footer class="footer">
    <div class="row footerContent">
        <div @onclick="openFolderBtn_Click" class="column">
            <i class="fas fa-folder-open fa-2x"></i>
            <p>Open folder</p>
        </div>
        <div @onclick="viewOnlineBtn_Click" class="column">                    
            <i class="fas fa-globe-europe fa-2x"></i>
            <p>View online</p>
        </div>
        <div @onclick="settingsBtn_Click" class="column">         
            <i class="fas fa-cog fa-2x"></i>
            <p>Help & Settings</p>
        </div>
    </div>
</footer>

@code {
    void openFolderBtn_Click()
    {
        Process.Start("/bin/bash", "-c \"/usr/bin/xdg-open /home/$USER/OneDrive\"");
    }

    void viewOnlineBtn_Click()
    {
        Process.Start("/usr/bin/xdg-open", "https://onedrive.live.com/");
    }

    void settingsBtn_Click()
    {
        
    }
}